*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-div {
    width: 100%;
}

 .nav-top {
    width: 100%;
    height: 60px;
    /* background-color: rgb(63, 177, 63); */
    background-color: rgb(130, 182, 33);
    display: flex;
}

.nav-top .nav {
    width: 95%;
    display: flex;
    margin: auto;
}

 .nav-top .nav ul {
    display: flex;
    align-items: center;
    width: 58%;
    list-style: none;
}

 .nav-top .nav ul li {
    padding: 10px 16px;
}

 .nav-top .nav ul a {
   font-size: 18px;
    text-decoration: none;
    color: white;  
}

 .nav-top .nav .search-bar {
    width: 19%;
    display: flex;
    /* justify-content: end; */
    align-items: center;
}

 .nav-top .nav .search-bar input {
    width: 75%;
    height: 41px;
    padding: 10px;
    font-size: 18px;
    border: none;
    outline: none;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}

.nav-top .nav .search-bar input::placeholder {
    font-size: 15px;
    font-weight: 600;
}

.nav-top .nav .search-bar img {
    width: 41px;
    background-color: white;
    padding: 11px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    cursor: pointer;
}

 .nav-top .nav .buttons {
    width: 18%;
    display: flex;
    margin: auto;
    justify-content: center;
}
 
.nav-top .nav .buttons .login, .register {
    display: flex;
    background-color: red;
    padding: 8px 10px;
    border-radius: 20px;
    margin: 2px;
}

.nav-top .nav .buttons .register img {
    width: 21px;
    color: white;
}

.nav-top .nav .buttons .login img {
    width: 16px;
    color: white;
}

 .nav-top .nav .buttons .login li {
    list-style: none;
    padding: 1px 9px;
    /* margin: 3px; */
    /* border-radius: 50px; */
    background-color: red;
}

.nav-top .nav .buttons .register li {
    list-style: none;
    padding: 1px 9px;
    background-color: red;
    
}

 .nav-top .nav .buttons li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.nav-bottam {
    width: 100%;
    height: 120px;
    /* background-color: rgb(78, 73, 73); */
    background-color: white;
    display: flex;
    
}

.left{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left li {
   list-style: none;
   font-size: 25px;
   font-weight: bold; 
   padding: 0px 15px;
   color: rgb(130, 182, 33);

}


.center{
    width: 30%;
    display: flex;
    justify-content: center;
}

.center .box {
    width: 260px;
    height: 200px;
    /* background-color: blueviolet; */
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.center .box img {
    height: 190px;
    border-radius: 50%;
}

.right{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right li {
    list-style: none;
    font-size: 25px;
    font-weight: bold; 
    padding: 0px 15px;
    color: rgb(130, 182, 33);
 }

 .home {
    width: 100%;
    height: 80vh;
    background-image: url(./images/travel-accessories-objects-yellow-background_117255-1354.jpg);
    background-position: center;
    background-size: cover;
 }

 .home .text-box {
    position: absolute;
    bottom: 51px;
    left: 92px;
 }

 .home .heading1 {
    font-size: 60px;
    color: white;
 }

 .home .heading2 {
    font-size: 80px;
    font-weight: bolder;
 }

 .home p {
    width: 53%;
    margin-left: 6px;
    /* position: absolute; */
    font-size: 17px;
    color: white;
 }

 .home li {
    display: inline-block;
    list-style: none;
    margin: 17px 0px;
    margin-left: 6px;
    padding: 13px 30px;
    background-color: white;
    border-radius: 30px;
 }

 .home li a {
    font-size: 25px;
    text-decoration: none;
    color: rgb(130, 182, 33);
 }

 .home .home-items {
    position: absolute;
    top: 630px;
    width: 100%;
 }

.home .home-items .itmz {
    display: flex;
    justify-content: center;
}

 .home .home-items .itmz .box {
    width: 80px;
    height: 80px;
    background-color: brown;
    margin: 0rem 0.8rem;
    border-radius: 15px;
    text-align: center;
 }